@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  background: #f15922;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.main{
  background: url(asset-path('books.jpg')) no-repeat fixed center;
  background-size: cover;
  min-height: 550px;
}
.jumbotron{
  background: unset;
  color: black;
  margin-bottom: 0px;
}


.main-user{
  color: black;
  min-height: 550px;
  padding-bottom: 20px;
  .form-control{
    background: transparent;
    border: 1px solid #555;
  }
}
  .header{
  background-color: #f15922;
  box-shadow:0 1px 1px #ccc;
  padding: 2px 40px;
  height: 50px;
  color: #ffffff;
  box-sizing: border-box;
}

.header .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.header .header-limiter h1{
  float: left;
  font: normal 22px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header .header-limiter h1 span {
  color: #5383d3;
}

.header .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header .header-limiter nav {
  font:16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: left;
  margin: 0 0 0 60px;
  padding: 0;
}

.header .header-limiter nav a{
  font-size: 14px;
  display: inline-block;
  padding: 0 5px;
  opacity: 0.9;
  text-decoration:none;
  line-height: 1;
}

.header .header-limiter nav a:hover {
  opacity: 1;
}

.header .header-limiter nav a.selected {
  color: #608bd2;
}

.header .header-limiter ul {
  font: 14px Arial, Helvetica, sans-serif;
  list-style: none;
  line-height: 3;
  float: right;
}

.header .header-limiter ul li {
  display: inline-block;
  margin-left: 15px;
  opacity:0.9;
}

.header .header-limiter ul li:hover{
  opacity: 1;
}

.header .header-limiter ul li:last-child a {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
}

@media all and (max-width: 600px) {

  .header {
    padding: 25px;
    height: 85px;
  }

  .header .header-limiter h1 {
    float: none;
    margin: -8px 0 2px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header .header-limiter nav {
    margin: 0;
    float: none;
  }

  .header .header-limiter nav li a {
    font-size: 13px;
  }

  .header .header-limiter ul {
    display: none;
  }

}
.header .header-limiter .dropdown-menu{
  font: bold 13px Arial, Helvetica, sans-serif;
  background-color: #fff;
  list-style: none;
  color: #000;
  position: absolute;
  text-align: center;
  min-width: 120px;
  top: 35px;
  right: 0;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  li{
    margin-left: unset;
  }
}
.dropdown-menu > li > a{
  color: #000 !important;
}

.head{
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  margin: unset
}
li.dropdown.custom-nav > ul {
  transform: translateX(95%);
  margin-top: -51px;
  border: none;
  border-radius: 0;
  outline: 0;
  box-shadow: 0 0 0 transparent;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-submenu > .dropdown-menu{
  top: 0px !important ;
}

.search-forms{
  padding: 30px 100px;
}

.search-forms .form-group {
  padding-left: 20px;
}

a#fav.inactive{
  background: url('remove.png');
  display: block;
  width: 32px;
  height: 32px;
}

a#fav.active{
  background: url('add.png');
  display: block;
  width: 32px;
  height: 32px;
}

.info-comment > p{
  font-size: 0.8em;
}

.item-comment{
  padding-bottom: 5px;
}
.logo{
  background: url(asset-path('logo.png')) no-repeat 0px 4px;
    width: 190px;
    height: 47px;
    display: inline-block;
    vertical-align: top;
}
.list-product{
  padding: 0px 5em;
}
.head{
  text-align: left;
  color:#f15922;
  padding: 20px 30px;
  font-size: 20px;
  font-style: oblique;
}
.add-product-cart{
  background: #f15922;
  color: #fff;
}
hr{
  margin:unset;
}
.fa-comment{
  background: #f15922;
  color: #fff;
}
.pagination > .active > a, .pagination > .active > a:hover{
  background: #f15922;
  border-color :#f15922;
}
.title-bold{
  font-weight: bold;
}
.divider{
  border-bottom: 1px solid  #e5e5e5;
  margin: 9px 0;
  overflow: hidden;
}
.table-cart thead{
  background: #f15922;
  color: #fff;
}
.table-cart th{
  padding-top: 20px;
  padding-bottom: 10px;
}
.table-cart tbody tr {
  padding: 20px 0 ;
  border: 1px solid #D9E4E6;
  &:nth-child(odd) {
    background-color:  #D9E4E6;
  }
  td{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.step-2{
  margin-top: 50px;
  margin-right: 150px;
}
.btn-buy{
  background:#f15922;
  color: #fff;
}
footer{
  min-height: 50px;
  background-color: #f15922;
  color: white;
  bottom: 0px;
  width: 100%
}
